/* https://colorhunt.co/palette/69667 */
body {
    margin: 0;
    box-sizing:border-box;
    background-color: #fafafa;
    min-height: 200vh;
    cursor: crosshair;
}

.container {
    /* min-height: 200vh; */
    padding: 50px;
    background-color: #e8f1f5;
    border: 2px solid #004a7c;
    position: fixed;
    top: 5%;
    left: 30%;
    /* z-index: -1; */
}

.pairs {
    color: #fafafa;
    font-size: 20px;
    display: inline-block;
    padding: 20px;
    background-color: #004a7c;
    min-width: 90px;
    min-height: 45px;
    z-index: 2;
}

#indicatorX {
    position: absolute;
    width: 10px;
    background-color: green;
    display: none;
    z-index: 6;
}

#indicatorY {
    position: absolute;
    height: 10px;
    background-color: green;
    display: none;
    z-index: 6;

}

#offsetIndicatorY {
    position: absolute;
    width: 20px;
    background-color: pink;
    z-index: 5;

    display: none;
}

#offsetIndicatorX {
    position: absolute;
    height: 20px;
    background-color: pink;
    z-index: 5;

    display: none;
}

.selected {
    background-color: green;
}

.selectedpink {
    background-color: pink;
}
